@charset "UTF-8";

/*=====================================
=            Start Raising            =
=====================================*/

.start-raising {
	display: inline-block;
	width: 100%;
	margin: 0 0 90px;
	text-align: center;

	/* Blokk card C */
	.blokk-card-c {
		padding: 0;
	}
	
}

/*=====  End of Start Raising  ======*/
