@charset "UTF-8";

/*==========================================
=            Startup Case Study            =
==========================================*/

.startup-case-study {
	display: inline-block;
	width: 100%;
	margin: 0 0 90px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		height: 300px;
		left: 0;
		right: 0;
		top: -300px;
		background: #F5F8FF;
		z-index: 0;
	}
}

/*=====  End of Startup Case Study  ======*/
